/* 

    HOME 

 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/*  
    HOME - CABEÇALHO/HEADER 

*/

body {
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-body {
    width: 100%;
}

header {

    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    height: 100px;
    box-shadow: 0 0 3px #765441;
    background-color: white;
    
}

.container-botoes-cabecalho {
   display: flex;
   align-items: center;
   width: 70%;
}

.botoes-cabecalho {
    display: flex;
    width: 70%;
    justify-content: space-around;
   
}

.botoes-cabecalho button {
    padding: 5px 15px;
    border-radius: 20px ;
    color: white;
    background-color:#EA9F2E ;
    border: none;
}

.botoes-cabecalho p {
    color: #b37100;
    display: flex;
    align-items: center;
}

.botoes-cabecalho a  {
    color: #b37100;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.botao-encomenda {
    margin-left: 30px;

}

.botoes-cabecalho button:hover {
   -webkit-transform: scale(1.1);
   transform: scale(1.2);
   cursor:  pointer;
}

.link:hover {
    opacity: 35%;
}

.container-logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70px;
}

.logo:hover {
    -webkit-transform: scale(1.1);
   transform: scale(1.4);
}

.container-itens {
    width: 100%;
}

/* 

MAIN

 */

 main {
    margin-top: 24px;
}

/*

SECTION-MAIN

*/

.section-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.section-main > div {
    flex: 1 1 800px;
    /* height: ; TALVEZ SEJA NECESSÁRIO DEFINIR PARA AJUSTAR O FOOTER*/
    /* border: 2px solid red; */
    margin-top: 65px;
}

/*

SECTION MAIN

*/
/*

 CONTAINER ITENS 

 */

.container-itens > p {
    font-size: 34px;
    margin-left: 10px;
    padding: 10px;
}

.container-itens img {
    display: block;
    max-width: 100%;
    border-radius: 100%;
}

.container-itens {
    display: flex;
    text-align: center;
    align-items: center; 
    /* background-color: #EDD86B; */
    border-top: 2px solid #c7a600;
    border-bottom: 2px solid #c7a600;
    font-size: 20px;
}

.container-itens > div {
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px 10px;
}

/* 

CONTAINER PROMOÇÃO

*/

.container-promotion {
    display: flex;
    padding: 40px 40px;
    text-align: center;
}

.container-promotion > p {
    font-size: 24px;
    padding: 5px 5px;
    border-top: 2px solid #E7D3B0;
    border-right: 2px solid #E7D3B0;
    border-bottom: 2px solid #E7D3B0;
}

.container-promotion > h2 {
    padding-top: 19px;
    /* padding-bottom: 8px; */
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid gold;
}

.section-main > .container-promotion {
    flex: 1 1 800px;
    justify-content: center;
    /* align-items: center; */
}

h2 > a {
    color: black;
}

p > a {
    color: black;
}

/* 

CARD PRESENT 

*/

.container-card-present {
    display: flex;
    text-align: center;
    padding: 40px 40px;
    margin-bottom: 44px;
    /* background-color: #FF1744; */
}

.container-card-present a {
    color: white;
    background-color: #FF1744;
    border: none;
    padding: 18px;
    text-align: center;
}

.container-card-present button{
    border: none;
}
.container-card-present button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    cursor:  pointer;
}
.container-card-present > p {
    border-left: 2px solid #FF80AB ;
    border-top: 2px solid #FF80AB ;
    border-bottom: 2px solid #FF80AB;
    padding: 11px 10px;
    font-size: 24px;
    color: black;
}

.section-main > .container-card-present {
    flex: 1 1 1200px;
    justify-content: center;
}


/* RESPONSIVIDADE  */


@media screen and (min-device-width: 320px) and (max-device-width: 480px){/* celulares */

    .section-main {
        width: 100%;
    }
    
    .container-itens {
        flex-wrap: wrap;
        width: 100%;
    }
    
    .container-itens img {
        width: 150px;
    
    }
    
    .container-itens > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .container-promotion > h2 {
        padding-top: 60px;
        align-items: center;
    }
    
    .container-card-present a {
        display: flex;
    }
    
    .container-card-present button {
        background-color: red;
    }
    
    
    }
