* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* 

    HOME 

 */


/*  
    HOME - CABEÇALHO/HEADER 

*/

.container-cabecalho {
    width: 100%;
    height: 124px;
    background-color:yellow;
    display: flex;
    justify-content: space-between;
    
}

.container-botoes-cabecalho {
   display: flex;
   align-items: center;
   
   background-color: tomato;
   width: 100%;
}

.container-busca{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.container-logo {
    width: 100%;
    margin-left: 3%;
}

.logo {
    width: 35%;
}

.search {
    width: 50%;
    
}

.icones-cabecalho {
    width: 10%;
}

.icone-lupa {
    width: 5%;
    display: flex;
    align-items: center;
}


    /* footer */
.footer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EDD86B;
    bottom: 0;
    width: 100%;
}

.container-footer {
    display: flex;
    padding: 20px;
    align-items: center;
}

.container-footer li {
    margin-left: 10px;
}

.container-footer li a {
    display: block;
    padding: 10px;

}

#redes-sociais {
    padding: 10px;
}

#redes-sociais img {
    width: 40px;
}

#redes-sociais a {
    background-image: none;
}
    /* footer */